<%= turbo_frame_tag dom_id(workout), target: '_top' do %>
    <% if current_user.id == workout.user_id %>
        <div class="flex justify-between p-1">
            <%= link_to workout.title, edit_workout_path(workout.id), class: "text-2xl font-semibold hover:text-carnage-red-pressed transition ease-in-out" %>

            <%= button_to "Remove", workout_path(workout.id, user_id: params[:id]), method: :delete, class: "rounded-3xl font-semibold hover:bg-carnage-red-pressed transition ease-in-out py-2 px-8
            text-center text-white bg-carnage-red" %>
        </div>

    <% else %>
        <%= link_to workout.title, workout_path(workout.id), class: "text-2xl" %>
    <% end %>
    <p class="inline-flex"> (<%= workout.created_at.strftime("%d/%m/%Y") %>)</p>
    <br>
<% end %>
