<%= turbo_stream_from :exercises %>
<%= form_with model: @workout do |f| %>
    <div class="mx-auto text-center flex items-center justify-center">
        <img src="/assets/icon.png" class="w-[30px] sm:w-[55px]" />
        <%= f.text_field :title, required: true, placeholder: @workout.title, class: "text-red-50 border-b-white text-2xl bg-carnage-main" %>
    </div>

    <div class="px-4">
    <%= turbo_frame_tag "exercises", class: "flex flex-wrap" do %>
        <% @workout.exercises.each do |ex| %>
            <%= render ex, is_workout: true %>
        <% end %>
    <% end %>

    <%= render DialogComponent.new(title: "Add Exercise", close_button_text: "Save Changes") do |e| %>
        <% Exercise.all.each do |ex| %>
        <div class="mb-3 bg-[#212125] rounded-lg p-2 mx-2">
            <p class="text-white font-bold"><%= ex.name %></p>
            <p class="text-white text-center"><%= ex.emphasis %></p>
            <%= button_to "Add Exercise", workout_add_exercise_path(workout_id: @workout.id, exercise_id: ex.id), method: :patch, class: "outline outline-4 outline-teal-400 text-teal-400 font-semibold hover:text-teal-300 p-2 rounded-xl text-sm mt-3" %>
        </div>
        <% end %>
    <% end %>
    <div class="w-full text-center mt-10">
        <button type="button" onclick="document.getElementById('dialog').showModal();"
        class="rounded-3xl font-semibold hover:bg-carnage-red-pressed transition ease-in-out py-2 px-8
                text-center text-white bg-carnage-red">+ Add Exercise</button>
    </div>
    </div>
<% end %>
