<div class="md:container px-4 text-slate-100">
    <%= form_with model: @workout do |form| %>
      <div class="text-slate-100 flex justify-evenly">
        <div>
          <%= form.label :title, class: "font-bold" %>
          <%= form.text_field :title, class: "bg-zinc-900 rounded-2xl mb-2" %><br>

          <%= form.label :description, class: "font-bold" %>
          <%= form.text_field :description, class: "bg-zinc-900 rounded-2xl mb-2" %>
        </div>

        <div class="w-2/3 bg-white rounded-lg text-gray-700 p-3 relative">
          <p class="text-4xl font-extrabold">Exercises</p>
          <% @workout.exercises.each do |ex| %>
            <%= render ExerciseViewComponent.new(exercise: ex) do |b| %>
              <div class="flex justify-evenly"> 
                <%= ex.exercise_sets.each do |set| %>
                  <p><%= set.intensity %></p>
                <% end %>
              </div>
              <div class="justify-end">
                <button type="button" class="text-slate-100 p-1 bg-blue-400 text-sm font-bold rounded-lg" data-action="click->workout#addSet">Add Set</button>
              </div>
            <% end %>
          <% end %>
        
        </div>
      </div>
    <% end %>
</div>
