<div class="md:container p-4 mx-auto">
  <p class="text-4xl font-extrabold text-slate-100 mb-3">New workout</p>
  
    <%= form_with model: @workout do |form|  %>
      <div class="grid grid-cols-2 grid-flow-col relative">
        <div>
          <p class="text-slate-100 text-xl font-bold">Title</p>
          <%= form.text_field :title, class: "text-3xl font-bold text-slate-100 bg-zinc-900 rounded-2xl"%><br>

          <p class="text-slate-100 text-xl mt-3 font-bold">Description</p>
          <%= form.text_field :description, class: "text-3xl font-bold text-slate-100 bg-zinc-900 rounded-2xl"%><br> 
        </div>

        <div class="bg-slate-100 p-4 rounded-lg">
          <p class="text-2xl text-gray-700 font-bold">Exercises</p>
          <%= form.collection_check_boxes :exercise_ids, Exercise.all, :id, :name, {multiple: true}, { class: " text-red-400 bg-zinc-950" } do |f| %>
            <div class="flex justify-between">
              <p><%= f.text %></p>
              <%= f.check_box %>
            </div>
          <% end %>
          </ul>
        </div>
      </div>

      <div class="flex gap-5 justify-center mt-6">     
        <%= form.submit class: "bg-red-500 text-xl font-bold text-slate-100 mt-9 p-2 rounded-lg" %>
      </div>
    <% end %>
</div>
