<%= turbo_frame_tag "new_workout" do %>
<div class="md:container p-4 mx-auto text-center">
  <p class="text-4xl font-extrabold text-slate-100 mb-3">New workout</p>
  
    <%= form_with model: @workout do |form|  %>      
      <p class="text-slate-100 text-xl font-bold">Title</p>
      <%= form.text_field :title, class: "text-3xl font-bold text-slate-100 bg-zinc-900 rounded-2xl" %><br>

      <p class="text-slate-100 text-xl mt-3 font-bold">Description</p>
      <%= form.text_field :description, class: "text-3xl font-bold text-slate-100 bg-zinc-900 rounded-2xl" %><br> 


      <%= form.submit class: "bg-red-500 text-xl font-bold text-slate-100 mt-9 p-2 rounded-lg" %>

    <% end %>
</div>
<% end %>