<%= form_with(model: routine, class: "contents") do |form| %>
  <% if routine.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(routine.errors.count, "error") %> prohibited this routine from being saved:</h2>
      <ul>
        <% routine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid w-full">
        <%= form.text_field :name, placeholder: "Routine title...", class: "border-none bg-carnage-secondary rounded-lg text-white text-4xl mb-4" %>
        <%= form.text_field :description, placeholder: "Workout description...", class: "border-none bg-carnage-secondary rounded-lg text-white mb-4" %>
  </div>

  <div class="bg-carnage-secondary p-4">
      <p class="text-2xl font-semibold text-white rounded-lg">Exercises</p>
  </div>

  <div class="flex justify-center gap-4">
    <%= form.submit "Save Changes", class: "w-auto rounded-3xl py-2 px-8 bg-carnage-red text-white font-medium cursor-pointer" %>
    <%= link_to "Back to routines", routines_path, class: "w-auto ml-2 text-white rounded-3xl py-2 px-8 bg-blue-500 inline-block font-medium" %>
  </div>

<% end %>
