<div id="<%= dom_id routine %>">
    <div class="flex justify-between gap-4">
      <p class="text-white font-bold text-lg"><%= routine.name %></p>
        <div class="flex gap-1">
          <%= link_to "edit", edit_routine_path(routine), class: "text-white material-symbols-outlined hover:text-carnage-red" %>
          <%= button_to "delete", routine_path(routine), method: :delete, class: "text-white material-symbols-outlined hover:text-carnage-red" %>
        </div>
      </div>
      <hr>

      <p class="ml-2 mt-1 text-white"><%= routine.description %></p>
</div>
