<div id="exercise" class="bg-slate-100 text-gray-700 mb-2 p-1 rounded-lg" data-controller="workout" data-workout-id=<%= @exercise.id %>> 
  <div class="flex justify-between">    <!--Image in the future-->
    <p class="font-bold text-md"><%= @exercise.name %></p>
    <% if @is_workout %>
      <div>
        <button type="button" class="text-slate-100 p-1 bg-blue-400 text-sm font-bold rounded-lg" data-action="click->workout#addSet">Add Set</button>
        <button type="button" class="text-slate-100 p-1 bg-red-400 text-sm font-bold rounded-lg" data-action="click->workout#removeExercise">Remove Exercise</button>
      </div>
    <% end %>
  </div>
  <% @exercise.muscle_groups.each do |mg| %>
    <p class="ml-2 text-sm inline"><%= mg.name %></p>
  <% end %>

  <% if @exercise.emphasis.presence %>
    <p class="ml-2 text-sm"> (<%= @exercise.emphasis %>)</p>
  <% end %>

  <% if @exercise.user_id == helpers.current_user.id %>
    <div class="flex gap-2 mt-2 ml-2">
      <%= content %>
    </div>
  <% end %>
  </div>
