<div id="exercise" class="<%= @bg_color %> mb-2 hover:<%= @bg_color_hover %> p-1 rounded-lg"> 
  <div class="flex justify-between">    <!--Image in the future-->
    <p class="font-bold <%= @fg_color %> text-md"><%= @title %></p>
  </div>
  <% @muscleGroup.each do |mg| %>
    <p class="ml-2 text-sm inline <%= @fg_color %>"><%= mg.name %></p>
  <% end %>

  <p class="ml-2 text-sm <%= @fg_color %>"> (<%= @emphasis %>)</p>
</div>
