<div class="max-w-md h-32 rounded-xl overflow-hidden shadow-lg relative <%= @bg %>">
  <!-- <img class="w-full" src="/img/card-top.jpg" alt="Sunset in the mountains"> -->
  <div class="px-6 py-2 <%= @fg %>">
    <p class="font-bold text-xl mb-2"><%= @topText %></p>
    <p class="text-center text-3xl font-extrabold"><%= @midText %></p>
    <p class="absolute bottom-2"><%= @bottomText %></p>
  </div>
</div>
