<div class="rounded-xl overflow-hidden shadow-lg flex <%= @bg %>">
  <!-- <img class="w-full" src="/img/card-top.jpg" alt="Sunset in the mountains"> -->
  <div class="px-2 py-2 <%= @fg %>">
    <p class="font-bold text-xl mb-2"><%= @topText %></p>
    <p class="text-center text-3xl font-extrabold"><%= @midText %></p>
    <p class=""><%= @bottomText %></p>
  </div>
</div>
