<div class="max-w-sm rounded-xl overflow-hidden shadow-lg <%= @bg %> <%= @fg %>">
  <!-- <img class="w-full" src="/img/card-top.jpg" alt="Sunset in the mountains"> -->
  <div class="px-6 py-4">
    <p class="font-bold text-xl mb-2"><%= @topText %></p>
    <p class="text-center text-3xl font-extrabold"><%= @midText %> workouts</p>
    <p><%= @bottomText %></p>
  </div>
</div>

