<div class="md:container">
  <div class="text-slate-100 inline-flex items-center">
    <img class="object-scale-down h-20 w-20 rounded-full mr-3" src="https://i.pinimg.com/564x/b1/be/8f/b1be8fe6cd9e67ae26a480a1040c3733.jpg"></img>
    <p class="text-4xl text-slate-100 font-extrabold text-center"><%= @user.username %></p>
  </div>
  <br>

  <p class="text-4xl font-extrabold text-slate-100">Statistics</p> 
  <div class="flex gap-4 mx-auto my-2 justify-center">
    <%= render(StatisticsViewComponent.new(topText: "So far, you've got", bg: "bg-white", fg: "text-gray-700", midText:"#{@user.workouts.count} workouts", bottomText: "Keep up the good work.")) %>
    <%= render(StatisticsViewComponent.new(bg:"bg-teal-400", fg:"text-slate-100", topText: "Weekly volume", midText:"0", bottomText: "Some day you'll be able to lift a black hole!")) %>
    <%= render(StatisticsViewComponent.new(topText: "Weekly hard sets", bg: "bg-white", fg:"text-gray-700", midText: "0", bottomText: "\"5 MORE REPS\" - Tom Platz")) %>
  </div>

  <p class="text-4xl font-extrabold text-slate-100">Logbook</p>
  <div class="mx-2 text-white bg-[#212125] p-3 mt-2 rounded-xl">
    <div class="overflow-auto max-h-44">
      <% if @workouts.count > 0 %>
        <% @workouts.each do |workout| %>
          <% if current_user.id == workout.user_id %>
            <div class="flex justify-between p-1">
              <%= link_to workout.title, edit_workout_path(workout.id), class: "text-2xl" %>
              <%= button_to "Delete Workout", workout_path(workout.id), method: :delete, class: "text-sm p-2 font-bold outline outline-4 outline-red-400 text-red-400 hover:text-red-300 rounded-xl" %>
            </div>

          <% else %>
            <%= link_to workout.title, workout_path(workout.id), class: "text-2xl" %>
          <% end %>
          <p class="inline-flex"> (<%= workout.created_at.strftime("%d/%m/%Y") %>)</p>
          <br>
        <% end %>
      <% else %>
        <p class="font-bold text-2xl">No workouts here!</p>
        <p class="ml-2">Added workouts will appear here.</p>
      <% end %>
    </div>

    <% if @user == current_user %>
      <div class="inline-flex align-bottom gap-3 mt-3 border-t-4 border-teal-400 w-full">
      <!--<button class="bg-red-300 text-slate-100 text-center p-1 rounded-xl">See more</button> -->
        <%= link_to "New workout", new_workout_path, class: "text-sm p-2 mt-4 font-bold outline outline-4 outline-teal-400 text-teal-400 hover:text-teal-300 rounded-xl" %>
      </div>
    <% end %>
  </div>
</div>
