<%= turbo_frame_tag dom_id(exercise_set, :edit), class: "contents" do %>
  <div class="flex flex-row justify-around items-center">
    <div class="flex gap-2 items-center">
      <i class="fa fa-skull text-sm"></i>
      <p><%= exercise_set.intensity %></p>
    </div>

    <div class="flex gap-2 items-center">
      <i class="fa fa-dumbbell"></i>
      <p><%= exercise_set.weight %></p>
    </div>
    
    <div class="flex gap-2 items-center">
      <i class="fa fa-check"></i>
      <p><%= exercise_set.reps %></p>
    </div>    
    
    <div class="flex gap-3 bg-white p-2 rounded-xl">
      <%= link_to "Edit", edit_exercise_exercise_set_path(id: exercise_set.id, exercise_id: exercise_set.exercise.id), class: "p-1 bg-gray-100 font-bold rounded-lg text-sm" %>
      <%= button_to "- Remove", exercise_exercise_set_path(id: exercise_set.id, exercise_id: exercise_set.exercise.id), method: :delete, class: "text-sm p-1 bg-red-500 rounded-lg text-slate-100 font-bold" %>
    </div>
  </div>
<% end %>
