<%= turbo_frame_tag dom_id(exercise, :edit) do %>
  <div class="bg-[#212125] text-white mb-2 p-2 rounded-lg"> 
    <div class="flex justify-between">    <!--Image in the future-->
      <p class="font-bold text-md"><%= exercise.name %></p>
    </div>
    <% exercise.muscle_groups.each do |mg| %>
      <p class="ml-2 text-sm inline><%= mg.name %></p>
    <% end %>

    <% if exercise.emphasis.presence %>
      <p class="ml-2 text-sm"> (<%= exercise.emphasis %>)</p>
    <% end %>

    <div class="gap-2 mt-2 ml-2">
      <% if is_workout %>
          <% if exercise.exerciseType == Exercise::WEIGHT_REPS %>
            <%= turbo_frame_tag dom_id(exercise, "sets") do %>
              <% ExerciseSet.where(workout_id: params[:id], exercise_id: exercise.id).each do |x| %>
                <%= render x %>
              <% end %>
            <% end %>
            <div class="gap-4 mt-3 w-full flex justify-center">
              <%= button_to "+ Add set", exercise_exercise_sets_path(exercise_id: exercise.id, workout_id: params[:workout_id] || params[:id]), class: "outline hover:text-teal-300 outline-400 outline-teal-400 text-teal-400 rounded-xl p-2 font-bold text-sm" %>
              <%= button_to "- Remove Exercise", workout_remove_exercise_path(exercise_id: exercise.id, workout_id: params[:workout_id] || params[:id]), method: :delete, class: "text-sm rounded-xl hover:text-red-300 outline outline-red-400 text-red-400 font-bold p-2" %> 
            </div>
          <% end %>    

      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </div>
    
<% end %>
