<%= turbo_frame_tag dom_id(@exercise, :edit) do %>
  <div class="md:container">
    <p class="text-slate-100 text-4xl font-extrabold mb-2">Edit "<%= @exercise.name %>"</p>
    <div class="flex justify-center mx-auto p-3 text-slate-100 relative">
      <%= form_with model: @exercise do |form| %>
        <%= form.label :name, class: "font-bold mr-2" %>
        <%= form.text_field :name, class: "rounded-2xl mb-2 bg-zinc-900" %><br>

        <%= form.label :description, class: "font-bold mr-2" %>
        <%= form.text_field :description, class: "rounded-2xl mb-2 bg-zinc-900" %><br>

        <%= form.label :emphasis, class: "font-bold mr-2" %>
        <%= form.text_field :emphasis, class: "rounded-2xl mb-2 bg-zinc-900" %>

        <%= render DialogComponent.new(title: "Edit Muscle Groups", close_button_text: "Save changes") do |d| %>
          <%= form.collection_check_boxes :muscle_group_ids, MuscleGroup.all, :id, :name, {multiple: true}, {class: "text-blue-500"} do |f| %>
            <div class="flex justify-between text-slate-100">
              <%= f.text %>
              <%= f.check_box %>
            </div>
          <% end %>
        <% end %><br>

        <div class="flex justify-center mt-9 gap-5">
          <button type="button" class="outline hover:text-teal-300 outline-400 outline-teal-400 text-teal-400 rounded-xl p-2 font-bold text-sm" onclick="document.getElementById('dialog').showModal()">Set muscle groups         </button>
          <%= form.submit "Save changes", class: "outline hover:text-red-300 outline-400 outline-red-400 text-red-400 rounded-xl p-2 font-bold text-sm" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
