<script>
function displayModal() {
    const dialog = document.getElementById('dialog');
    dialog.showModal();
}
</script>

<div class="md:container mx-auto">
  <p class="text-center text-4xl text-slate-100 font-extrabold mb-9">New Exercise</p>
  <div class="flex justify-center relative">
    <%= form_with(model: @exercise) do |form| %>
      <%= render DialogComponent.new(title: "Add muscle groups", close_button_text: "Confirm") do |d| %>
        <%= form.collection_check_boxes :muscle_group_ids, MuscleGroup.all, :id, :name, {multiple: true}, {class: "text-blue-500"} do |f| %>
          <div class="flex justify-between text-slate-100">
            <%= f.text %>
            <%= f.check_box %>
          </div>
        <% end %>
      <% end %>
      <%= form.label :name, class: "font-bold text-slate-100 mr-2" %>
      <%= form.text_field :name, class: "bg-zinc-900 rounded-2xl text-slate-100 mb-3" %><br>
      
      <%= form.label :description, class: "font-bold text-slate-100 mr-2" %>
      <%= form.text_field :description, class: "bg-zinc-900 rounded-2xl text-slate-100 mb-3" %><br> 

      <%= form.label :exercise_type, class: "font-bold text-slate-100 mr-2" %>
      <%= form.collection_select :exerciseType, Exercise::TYPES, :to_s, :to_s, {}, {class: "text-slate-100 bg-zinc-900 rounded-xl"} %><br>
      
      <button type="button" onclick="displayModal();" class="bg-blue-500 text-xl font-bold text-slate-100 w-full mt-9 p-2 rounded-lg">Add exercises</button>
      <%= form.submit class: "bg-red-500 text-slate-100 text-xl font-bold rounded-lg p-2 mt-2 w-full" %>
    
    <% end %>
  </div>
</div>
