<nav class="bg-carnage-secondary h-12 mb-10 mt-4 mx-4 rounded-full">
  <div class="flex h-full justify-between px-10 items-center">
    <% if user_signed_in? %>
      <div class="flex gap-5 sm:gap-10">
        <%= render NavbarFieldComponent.new(title: "home", href: '/') %>
        <%= render NavbarFieldComponent.new(title: "logbook", href: logbook_path) %>
        <%= render NavbarFieldComponent.new(title: "routines", href: routines_path) %>

      </div>
      <div class="flex gap-5 sm:gap-10">
          <%= render NavbarFieldComponent.new(title: "settings", href: '/') %>

          <%= button_to "sign out", destroy_user_session_path, method: :delete, class: "font-montserrat text-lg text-carnage-red ease-in-out transition hover:text-carnage-red-pressed font-semibold ml-2" %>
      </div>
    <% else %>
      <%= link_to image_tag("logo-button.png", width: 45), '/' %>
      <%= link_to image_tag("user-button.png", width: 45), new_user_session_path %>
    <% end %>
  </div>
</nav>
